parameters:
    secret: 13fa53bbe5920e366d2ab1298350

    github_client_id: d52ca590ef2913fa53b4
    github_client_secret: b917366d2ab1be5920e8350cca98755b2468f57a

    database_host: 127.0.0.1
    database_port: 3306
    database_name: php_travis
    database_user: root
    database_password: